{% load static %}
<html>
    <head>
        <title>
            First Blog Test
        </title> 
    </head>
    <body>
        <p>
            This is a sample post html page.
        </p>
        <h3>
            Here are some posts
        </h3>
        <div>
            {% for post in posts %}
            <!-- {{ post }} -->
            <p>
                published: {{ post.published_date }}
            </p>
            <h2>
                <a ref="">{{ post.title }} </a>
            </h2>
            <p>
                {{ post.description|linebreaksbr }}
            </p>
            <!-- <p>
                {{ post.picture }}
            </p> -->
            <p>
                <img src="/static/blog/sky.jpeg">
                <!-- <img src="/blog/static/sky.jpeg">
                <img src="/blog/static/{{post.picture.url}}">
                <img src="/static/{{post.picture.url}}"> -->
            </p>
            {% endfor %}
        </div>
        <div>
            <img src="{% static 'blog/sky.jpeg' %}" alt="My Sky Image">
        </div>
    </body>
</html>