{% load static %}
<html>
    <head>
        <title>
            First Blog Test
        </title>
    </head>
    <body>
        <p>
            This is a sample post html page.
        </p>
        <h3>
            Here are some posts
        </h3>
        <div>
            {% for post in posts %}
            {{ post }}
            <p>
                published: {{ post.published_date }}
            </p>
            <h2>
                <a ref="">{{ post.title }} </a>
            </h2>
            <p>
                {{ post.description|linebreaksbr }}
            </p>
            <p>
                {{ post.picture }}
            </p>
            <p>
                <!-- <img src="/static/blog/sky.jpeg"> -->
                <!-- <img src="/blog/static/sky.jpeg"> -->
                <!-- <img src="{{post.picture.url}}">
                <img src="/{{post.picture.url}}">
                <img src="{{post.picture}}">
                <img src="/{{post.picture}}">
                <img src="/blog/static/{{post.picture.url}}">
                <img src="/blog/static/{{post.picture.url}}">
                <img src="/blog/{{post.picture.url}}"> -->
                <!-- <img src="/static/blog/static/{{post.picture.url}}"> -->
                <img src="/static/{{post.picture.url}}">
            </p>
            {% endfor %}
        </div>
        <div>
            <!-- OK <img src="{% static 'SVWNetColors.png' %}" alt="SVNet Image"> -->

            <!-- <img src="{% static '/SVWNetColors.png' %}" alt="SVNet Image"> -->
            <!-- <img src="{% static '/static/SVWNetColors.png' %}" alt="SVNet Image">
            <img src="{% static 'PID_sch.PNG' %}" alt="My PID Image">
            <img src="{% static 'CktLabColorsOnly.JPG' %}" alt="My Ckt Image">
            <img src="{% static 'blog/static/blog.JPG' %}" alt="My Ckt Image">
            <img src="{% static '/blog/static/blog.JPG' %}" alt="My Ckt Image">
            <img src="{% static '/blog/static/blog.JPG' %}" alt="My Ckt Image"> -->
        </div>
    </body>
</html>