{% load static %}
<html>
    <head>
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>
            First Blog Test
        </title>
        <style>
            #buttonId {margin-bottom: 10px;}
        </style>
    </head>
    <body>
        <audio src="/static/LinusLucy.mp3"
            webkit-playsinline="true"
            allow="autoplay"
            autoplay="true">
        </audio>
        <h2>
            The Coops Holiday Update
        </h2>
        <div>
            <!-- <button onclick="startSS()">Begin Slide Show</button> -->
            <button id="buttonId" type="button" class="btn btn-info" onclick="startSS()">Begin Slide Show</button>
        </div>
        <div id="allImages">
            {% for post in posts %}
            <div class="ss">
            <p>
                <img src="/static/{{post.picture.url}}"
                    style="width:900px; height:550px">
            </p>
            <!-- <p>
                published: {{ post.published_date }}
            </p> -->
            <h2>
                <a ref="">{{ post.title }} </a>
            </h2>
            <p>
                {{ post.description|linebreaksbr }}
            </p>
            </div>
            {% endfor %}
        </div>
        <div id="output">
            <!-- OK <img src="{% static 'SVWNetColors.png' %}" alt="SVNet Image"> -->
        </div>
        <div id="allSortedImagesDiv"></div>
    </body>
    <script>
        function startSS() {
            console.log("Start SlideShow");

        console.log("Here is some javascript...");
        playMusic();
        document.getElementById("allImages").style.display = "none";
        let slides = document.getElementsByClassName("ss");
        let slidesArray = [];
        for (var i in slides) {
            if (slides[i].nodeType == 1) { // get rid of the whitespace text nodes
            console.log("Slide pre sort = " + slides[i].innerHTML);
                slidesArray.push(slides[i]);
            }
        }
        //slidesArray.sort(function(a, b) {
        //    return a.innerHTML == b.innerHTML
        //        ? 0
        //        : (a.innerHTML > b.innerHTML ? 1 : -1);
        //});
        slidesArray.sort(function(a, b) {
            // return a.children[2].innerHTML.trim() == b.children[2].innerHTML.trim()
            //    ? 0
            //    : (a.children[2].innerHTML.trim() > b.children[2].innerHTML.trim() ? 1 : -1);
            let aDesc = a.children[2].innerHTML.trim();
            let bDesc = b.children[2].innerHTML.trim();
            return aDesc == bDesc
                ? 0
                : (aDesc > bDesc ? 1 : -1);
        });

        allSortedImages = document.getElementById("allSortedImagesDiv");
        for (i = 0; i < slidesArray.length; ++i) {
            console.log("Slide post sort = " + slidesArray[i].innerHTML);
            allSortedImages.appendChild(slidesArray[i]);
            // allSortedImages.append(slidesArray[i]);
        }

       (function slideLoop (i) {
            let element = document.getElementById("output");
            element.innerHTML = slides[i-1].outerHTML;
            let desc = slides[i-1].children[2].innerHTML.trim();
            // element.style.display = "block"; //"none";
            unfade(element);
            setTimeout(() => {
                fade(element);
                // element.style.display = "none";
                setTimeout(() => {
                    // decrement i and call myLoop again if i > 0
                    if (--i) slideLoop(i);
                    else {
                        stopMusic();
                        console.log("Slide Show Done");
                    }
                }, 2000);
            }, 3000);

       })(slides.length);
    }

    function fade(element) {
    var op = 1;  // initial opacity
    var timer = setInterval(function () {
        if (op <= 0.1){
            clearInterval(timer);
            element.style.display = 'none';
        }
        element.style.opacity = op;
        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op -= op * 0.1;
    }, 50);
    }

    function unfade(element) {
    var op = 0.1;  // initial opacity
    element.style.display = 'block';
    var timer = setInterval(function () {
        if (op >= 1){
            clearInterval(timer);
        }
        element.style.opacity = op;
        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op += op * 0.1;
    }, 10);
    }

    function playMusic() {
        setTimeout(() => {
        console.log("In playMusic()");
        var v = document.getElementsByTagName("audio")[0];
        v.load();
        v.play();
        }, 5000 );
        // let body = document.getElementsByTagName("BODY")[0];
        // body.prepend('<audio src="https://www.w3schools.com/tags/horse.ogg" controls></audio>');
    }

    function stopMusic() {
        console.log("In stopMusic()");
        var v = document.getElementsByTagName("audio")[0];
        v.pause();
    }
    </script>
</html>